In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [9]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [24]:
person = {
    "name" : ["Pranav" ],
    
    "surname" : ["Kulkarni"]
}

In [25]:
person

{'name': ['Pranav'], 'surname': ['Kulkarni']}

In [26]:
import pandas as pd

In [30]:
person_df = pd.DataFrame(person)

In [31]:
person_df

     name   surname
0  Pranav  Kulkarni

In [38]:
people = {
    "name" : ["Pranav" , "Pratik" , "Shivani" ],
    
    "surname" : ["Kulkarni" , "Kulkarni" , "Kulkarni" ],
    
    "mail" : ["pranav@thinkxl" , "pratik@thinkxl" , "shivani@thinkxl"] ,
    
    "Birthplace" : ["Nashik" , "Omerga"  ,"Pune "]
}

In [39]:
people['Birthplace']

['Nashik', 'Omerga', 'Pune ']

In [40]:
people_df = pd.DataFrame(people)

In [41]:
people_df

      name   surname             mail Birthplace
0   Pranav  Kulkarni   pranav@thinkxl     Nashik
1   Pratik  Kulkarni   pratik@thinkxl     Omerga
2  Shivani  Kulkarni  shivani@thinkxl      Pune

In [42]:
people_df['Birthplace']

0    Nashik
1    Omerga
2     Pune
Name: Birthplace, dtype: object

In [44]:
people_df.count()

name          3
surname       3
mail          3
Birthplace    3
dtype: int64

# slicing and iloc , loc

In [45]:
df.iloc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                                50
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object

In [47]:
df.iloc[[0,1]]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [48]:
df.iloc[[0,1] , 5]

0    Monthly
1        NaN
Name: CompFreq, dtype: object

In [50]:
df.iloc[[0,1] , [7, 5]]

   ConvertedComp CompFreq
0            NaN  Monthly
1            NaN      NaN

In [53]:
df.loc[[0,1] , "CompFreq"]

0    Monthly
1        NaN
Name: CompFreq, dtype: object

In [56]:
df.loc[[0,1] , ["CompFreq" ,"ConvertedComp"]]

  CompFreq  ConvertedComp
0  Monthly            NaN
1      NaN            NaN

In [60]:
df.iloc[0:10 , 5:8]

  CompFreq  CompTotal  ConvertedComp
0  Monthly        NaN            NaN
1      NaN        NaN            NaN
2      NaN        NaN            NaN
3      NaN        NaN            NaN
4      NaN        NaN            NaN
5      NaN        NaN            NaN
6  Monthly        NaN            NaN
7   Yearly   116000.0       116000.0
8      NaN        NaN            NaN
9   Yearly    25000.0        32315.0

In [61]:
df.loc[0:10 , 'CompFreq':'ConvertedComp']

   CompFreq  CompTotal  ConvertedComp
0   Monthly        NaN            NaN
1       NaN        NaN            NaN
2       NaN        NaN            NaN
3       NaN        NaN            NaN
4       NaN        NaN            NaN
5       NaN        NaN            NaN
6   Monthly        NaN            NaN
7    Yearly   116000.0       116000.0
8       NaN        NaN            NaN
9    Yearly    25000.0        32315.0
10   Yearly    31000.0        40070.0