In [1]:
import pandas as pd

# Read Data

In [2]:
df = pd.read_csv('data/survey_results_public.csv',index_col = 'Respondent' )
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [3]:
pd.set_option('display.max_rows',400) # set number of rows/columns to be displayed

## From dictionaray to DataFrame 

### Dict = { Keys( column names ) : Values( this ca be a list or numeric values that will get added as rows to the corrosponding column )}

In [4]:
person = {
    "name" : ["Pranav" ],
    
    "surname" : ["Kulkarni"]
}

In [5]:
person

{'name': ['Pranav'], 'surname': ['Kulkarni']}

In [6]:
import pandas as pd

In [7]:
person_df = pd.DataFrame(person)

In [8]:
person_df

     name   surname
0  Pranav  Kulkarni

In [9]:
people = {
    "name" : ["Pranav" , "Pratik" , "Shivani" ],
    
    "surname" : ["Kulkarni" , "Kulkarni" , "Jog" ],
    
    "mail" : ["pranav@thinkxl" , "pratik@thinkxl" , "shivani@thinkxl"] ,
    
    "Birthplace" : ["Nashik" , "Omerga"  ,"Pune "]
}

In [10]:
people['Birthplace']

['Nashik', 'Omerga', 'Pune ']

In [11]:
people_df = pd.DataFrame(people)

In [12]:
people_df

      name   surname             mail Birthplace
0   Pranav  Kulkarni   pranav@thinkxl     Nashik
1   Pratik  Kulkarni   pratik@thinkxl     Omerga
2  Shivani       Jog  shivani@thinkxl      Pune

In [13]:
people_df['Birthplace']

0    Nashik
1    Omerga
2     Pune
Name: Birthplace, dtype: object

In [14]:
people_df.count()

name          3
surname       3
mail          3
Birthplace    3
dtype: int64

# slicing and iloc , loc


### df.iloc[ start_from_row : end at row,start_from_col : end at col    ]
### df.iloc[row_number/row_numbers]

iloc uses the index intergers for slicing the dictionary for both rows and columns
can access all columns of a row if we only mention row numbers.






### df.loc[list of row names, list of column names]
loc uses column names and row names(name of a person if the is set as an index or a specific date)

In [15]:
df.iloc[0:10,2:6]

             Age Age1stCode CompFreq  CompTotal
Respondent
1            NaN         13  Monthly        NaN
2            NaN         19      NaN        NaN
3            NaN         15      NaN        NaN
4           25.0         18      NaN        NaN
5           31.0         16      NaN        NaN
6            NaN         14      NaN        NaN
7            NaN         18  Monthly        NaN
8           36.0         12   Yearly   116000.0
9           30.0         20      NaN        NaN
10          22.0         14   Yearly    25000.0

Can also send the list of intergers as input first list for rows second for columns

### df.iloc [ [indices of the rows], [indices of the cols] ]

In [16]:
df.iloc[[0,1]]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [17]:
df.iloc[[0,1] , 5]

Respondent
1   NaN
2   NaN
Name: CompTotal, dtype: float64

In [18]:
df.iloc[[0,1] , [7, 5]]

                   Country  CompTotal
Respondent
1                  Germany        NaN
2           United Kingdom        NaN

In [19]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [21]:
df.loc[[1,2],["CompFreq" ,"ConvertedComp"]]

           CompFreq  ConvertedComp
Respondent
1           Monthly            NaN
2               NaN            NaN

### set indec if you want to change the current df you have make inplace = True or you can create a new df.

In [22]:
people_df.set_index('mail')
# people_df.set_index('mail' ,inplace = True) for making permanent change to df

                    name   surname Birthplace
mail
pranav@thinkxl    Pranav  Kulkarni     Nashik
pratik@thinkxl    Pratik  Kulkarni     Omerga
shivani@thinkxl  Shivani       Jog      Pune

In [23]:
people_df

      name   surname             mail Birthplace
0   Pranav  Kulkarni   pranav@thinkxl     Nashik
1   Pratik  Kulkarni   pratik@thinkxl     Omerga
2  Shivani       Jog  shivani@thinkxl      Pune

In [24]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

# Filtering

To make things readeable we can either create a filter seperatly and apply it to the df.

### filter = (whatever condition you want)

      ### filter = (df[columns]   operation (>,<,==,and,or,not)    values to compare)
### df[filter] (this will give the output df when the filter is applied)


We can directly write the filter in the "df[]" itself if it is not too complex to understand the results will be same

### if you print the filter then you will a list of True and False values.

In [25]:
filter_ = (people_df['surname'] == 'Jog')

In [26]:
filter_

0    False
1    False
2     True
Name: surname, dtype: bool

In [27]:
people_df[filter_]

      name surname             mail Birthplace
2  Shivani     Jog  shivani@thinkxl      Pune

In [28]:
people_df[people_df['surname'] == 'Kulkarni']

     name   surname            mail Birthplace
0  Pranav  Kulkarni  pranav@thinkxl     Nashik
1  Pratik  Kulkarni  pratik@thinkxl     Omerga

Now with a bigger data set

In [29]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

Below is the example of appling filter for getting people with salary more than any specific amount.

We are taking out only the 4 columns of our interest using df.loc

In [30]:
high_salary = (df['ConvertedComp'] > 1000000)

In [31]:
df.loc[high_salary ,['Age', 'Country','YearsCode','ConvertedComp','LanguageWorkedWith']]

,Age,Country,YearsCode,ConvertedComp,LanguageWorkedWith
Respondent,,,,,
18,32.0,United States,19,1260000.0,Bash/Shell/PowerShell;HTML/CSS;Perl
57,44.0,United States,33,1620000.0,C#;VBA
65,34.0,United States,21,1176000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
123,26.0,United States,8,2000000.0,Bash/Shell/PowerShell;C++;Go;Java;Python
125,41.0,United States,11,2000000.0,Python;SQL
193,29.0,United States,13,2000000.0,Java;JavaScript;Objective-C;Swift
196,23.0,United States,8,1920000.0,Assembly;Bash/Shell/PowerShell;C;C++;Scala
281,26.0,United States,10,1104000.0,Java
503,34.0,United States,13,1500000.0,Bash/Shell/PowerShell;C#;Dart;Java;Kotlin
665,24.0,United States,4,2000000.0,HTML/CSS;JavaScript;Python;Ruby
699,39.0,United States,5,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
724,NaN,United States,3,2000000.0,JavaScript
818,40.0,United States,25,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;Python;SQL...
839,38.0,United States,25,1260000.0,Bash/Shell/PowerShell;C#;C++;Ruby;TypeScript
986,27.0,United States,16,2000000.0,C;C++;HTML/CSS;Java;JavaScript;Objective-C;PHP...
1022,34.0,United States,18,2000000.0,HTML/CSS;Java;JavaScript;Scala;SQL;TypeScript
1036,26.0,United States,5,2000000.0,C;C#;HTML/CSS;Java;JavaScript;Perl;PHP;SQL;Typ...
1076,48.0,United States,38,1440000.0,Bash/Shell/PowerShell;C#;Dart;JavaScript;Pytho...
1117,35.0,United States,23,2000000.0,Bash/Shell/PowerShell;Java;Kotlin;Python;Ruby;...
1120,26.0,United States,4,1140000.0,HTML/CSS;JavaScript;R
1128,32.0,United States,20,2000000.0,C#;Go;HTML/CSS;JavaScript;PHP;Rust;SQL;TypeScript
1193,30.0,United States,11,2000000.0,Bash/Shell/PowerShell;C;Python
1296,41.0,United States,20,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
1345,24.0,United States,8,2000000.0,HTML/CSS;JavaScript;SQL;TypeScript
1387,30.0,United States,10,1356000.0,Bash/Shell/PowerShell;Java;Python;R;Scala
1413,25.0,United States,13,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
1484,31.0,United States,10,2000000.0,JavaScript;TypeScript
1485,28.0,United States,9,1260000.0,HTML/CSS;JavaScript;Rust;TypeScript
1569,30.0,United States,17,1020000.0,HTML/CSS;JavaScript;PHP;SQL
1589,59.0,United States,14,2000000.0,R;SQL;VBA
1624,48.0,United States,40,2000000.0,HTML/CSS;JavaScript;PHP;SQL
1629,36.0,United States,17,2000000.0,HTML/CSS;JavaScript;Python;Rust;SQL
1793,27.0,United States,12,2000000.0,Bash/Shell/PowerShell;C++;HTML/CSS;Python;Rust...
1974,37.0,United States,14,2000000.0,C#;HTML/CSS;Java;JavaScript;PHP;SQL;TypeScript
1991,45.0,United States,38,1560000.0,Bash/Shell/PowerShell;C;C#;C++;Dart;Java;JavaS...
2093,55.0,United States,10,2000000.0,C;C++;HTML/CSS;JavaScript;Python
2126,34.0,United States,20,1200000.0,C#;JavaScript
2135,26.0,United States,8,2000000.0,C;HTML/CSS;JavaScript;Python
2260,37.0,Nomadic,19,1320000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript
2348,43.0,United States,12,1380000.0,Bash/Shell/PowerShell;Java;JavaScript;Python;T...
2357,40.0,United States,23,1848000.0,HTML/CSS;JavaScript;PHP;Ruby;TypeScript
2503,28.0,United States,10,2000000.0,Bash/Shell/PowerShell;C;C#;C++;Python
2522,99.0,United States,40,2000000.0,Assembly;C;C#;C++;Java;Python;Ruby
2569,40.0,United States,20,2000000.0,HTML/CSS;Java;JavaScript;Python;SQL
2578,NaN,United States,30,2000000.0,C#;Go;HTML/CSS;JavaScript;Python;SQL;TypeScript
2683,23.0,United States,6,2000000.0,Python;R;SQL
2689,29.0,United States,17,1500000.0,C#;JavaScript
2711,45.0,United States,23,1968000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
2724,27.0,United States,8,1380000.0,Bash/Shell/PowerShell;Dart;Java;JavaScript;Kot...
2774,45.0,United States,25,2000000.0,NaN
2792,39.0,United States,4,1200000.0,JavaScript
2957,30.0,United States,5,1020000.0,Assembly;C#;C++;Python;R;SQL
2977,37.0,United States,30,1800000.0,C#;Go;HTML/CSS;Java;JavaScript;Objective-C;Rub...
3045,35.0,United States,23,2000000.0,Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...
3072,32.0,United States,10,2000000.0,C#;Python
3079,29.0,United States,16,2000000.0,C#;C++;HTML/CSS;Java;JavaScript;SQL
3177,44.0,United States,30,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
3179,30.0,United States,17,2000000.0,C#;HTML/CSS;Java;JavaScript;Objective-C;SQL;Sw...
3184,25.0,United States,7,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
3222,24.0,United States,8,1788000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Java;J...
3236,31.0,United States,6,2000000.0,C;C#;C++;HTML/CSS;JavaScript;Python
3261,34.0,United States,11,2000000.0,HTML/CSS;Java;JavaScript;Python
3279,43.0,United States,20,2000000.0,C#;HTML/CSS;JavaScript;SQL
3295,24.0,United States,6,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
3317,30.0,United States,6,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
3321,42.0,United States,30,1680000.0,Bash/Shell/PowerShell;HTML/CSS;Java;Ruby;SQL
3364,27.0,United States,13,1440000.0,C;C++;HTML/CSS;Java;JavaScript;R;Ruby;SQL
3387,28.0,United States,8,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
3442,39.0,United States,23,2000000.0,C;C++;Go;HTML/CSS;Java;JavaScript;Kotlin;Objec...
3570,35.0,United States,10,1860000.0,C;C++;Java;JavaScript;Python;TypeScript
3606,NaN,United States,14,2000000.0,HTML/CSS;JavaScript
3620,22.0,United States,8,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
3908,30.0,United States,12,1380000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Java;P...
3948,25.0,United States,6,2000000.0,Assembly;C;C#;C++;HTML/CSS;Java;JavaScript;PHP...
3958,32.0,United States,5,1920000.0,C#;Python;Rust;SQL
4027,29.0,United States,10,2000000.0,Go;HTML/CSS;JavaScript;Julia;PHP;Python;R;Ruby...
4072,32.0,United States,4,1800000.0,JavaScript;Ruby
4074,NaN,United States,42,1800000.0,Bash/Shell/PowerShell;Java;Scala
4095,37.0,United States,5,2000000.0,C++
4115,23.0,United States,4,2000000.0,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript
4125,24.0,United States,8,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...
4129,23.0,United States,7,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
4140,29.0,United States,12,1038000.0,Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScrip...
4321,28.0,United States,10,1056000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
4447,37.0,United States,20,1680000.0,Bash/Shell/PowerShell;Java;JavaScript;SQL;Type...
4475,33.0,United States,15,2000000.0,C#;HTML/CSS;JavaScript;PHP;TypeScript
4538,26.0,United States,3,2000000.0,C;JavaScript;Python;TypeScript
4561,38.0,United States,10,1260000.0,HTML/CSS;JavaScript;PHP;SQL;Swift
4657,32.0,United States,14,2000000.0,Bash/Shell/PowerShell;Go;Java;JavaScript;Pytho...
4686,34.0,United States,20,2000000.0,C#;C++;HTML/CSS;JavaScript;Perl;SQL;VBA
4791,22.0,United States,8,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
4810,30.0,United States,8,1272000.0,Java;JavaScript;Kotlin;Python
4996,40.0,Argentina,27,1176000.0,HTML/CSS;JavaScript;PHP;SQL;TypeScript
5031,26.0,United States,10,1140000.0,Bash/Shell/PowerShell;C++;Python
5185,44.0,United States,27,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Perl...
5286,41.0,United States,27,2000000.0,Go;HTML/CSS;Java;JavaScript;Objective-C;Ruby;SQL
5652,37.0,United States,19,1680000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
5725,26.0,Canada,10,2000000.0,Bash/Shell/PowerShell;JavaScript;Python
6305,29.0,United States,17,1221888.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
6351,30.0,United States,15,2000000.0,Bash/Shell/PowerShell;C;C#;Go;HTML/CSS;Java;Ja...
7988,28.0,United States,15,2000000.0,JavaScript
8552,NaN,Malaysia,7,1020000.0,HTML/CSS;JavaScript;TypeScript
9835,47.0,United States,47,2000000.0,Assembly;Bash/Shell/PowerShell;C++;Dart;Go;Has...
12832,34.0,United States,17,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
13548,48.0,United States,17,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
14105,41.0,United States,25,2000000.0,HTML/CSS;Java;Python;Rust;Scala
14224,31.0,United States,11,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
14936,32.0,United States,16,1620000.0,Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScrip...
15280,49.0,United States,41,2000000.0,Bash/Shell/PowerShell;C++;Java;SQL
15295,37.0,United States,20,2000000.0,Go;HTML/CSS;Java;JavaScript;Kotlin;PHP;SQL
15525,31.0,United States,16,1500000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
15529,27.0,United States,11,2000000.0,HTML/CSS;JavaScript;Ruby;SQL
15556,36.0,United States,15,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
15619,29.0,United States,11,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
15694,34.0,United States,21,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
15730,NaN,United States,16,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
15825,27.0,United States,12,1116000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...
15938,50.0,United States,41,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Obje...
16018,23.0,United States,5,2000000.0,Java
16527,29.0,United States,13,2000000.0,Assembly;C;C#;C++
16634,28.0,United States,10,1440000.0,C#;HTML/CSS;JavaScript;Python;R;SQL;VBA
16829,39.0,United States,10,2000000.0,Julia;Python;R;SQL;VBA
16950,29.0,United States,7,1165500.0,Bash/Shell/PowerShell;JavaScript;PHP;SQL
17048,35.0,United States,27,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
17129,27.0,United States,4,2000000.0,HTML/CSS;JavaScript;PHP;TypeScript
17350,23.0,United States,3,2000000.0,HTML/CSS;Python;R;SQL;VBA
17392,27.0,United States,7,2000000.0,C#;HTML/CSS;JavaScript;SQL
17496,41.0,United States,24,1104000.0,C#;HTML/CSS;JavaScript;SQL
17515,25.0,United States,10,1380000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;S...
17610,24.0,United States,1,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
17689,35.0,United States,22,1020000.0,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
17900,22.0,United States,7,2000000.0,Java;JavaScript;TypeScript
18031,26.0,United States,7,2000000.0,Python
18032,24.0,United States,7,2000000.0,Java;JavaScript
18059,33.0,United States,18,2000000.0,HTML/CSS;JavaScript;Ruby
18078,31.0,United States,13,2000000.0,C#;HTML/CSS;JavaScript;Python;SQL
18194,28.0,United States,18,2000000.0,C#;Java;R;Scala;SQL
18295,30.0,United States,10,1920000.0,Java;Perl
18364,43.0,United States,30,2000000.0,Assembly;C;C#;C++;HTML/CSS;JavaScript;Swift;VBA
18565,45.0,United States,30,1440000.0,C#;JavaScript;Kotlin;SQL;Swift;TypeScript
18688,25.0,United States,6,2000000.0,HTML/CSS;JavaScript;PHP;SQL
18726,23.0,United States,6,1800000.0,HTML/CSS;Java;JavaScript;Kotlin;Python;Ruby;SQ...
18770,31.0,United States,11,2000000.0,C#;HTML/CSS;JavaScript;SQL;TypeScript
19147,31.0,United States,13,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
19232,30.0,United States,4,2000000.0,HTML/CSS;Java;JavaScript;TypeScript
19321,54.0,United States,34,1320000.0,C;C++;HTML/CSS;Java;R;SQL;VBA
19324,27.0,United States,9,2000000.0,C++;Objective-C;Swift
19578,22.0,United States,9,2000000.0,C#;HTML/CSS;JavaScript;SQL;TypeScript
19597,43.0,United States,10,1200000.0,C#;HTML/CSS;Java;JavaScript;PHP
19664,29.0,United States,7,2000000.0,HTML/CSS;Java;JavaScript;SQL
19710,61.0,United States,45,1440000.0,C#;HTML/CSS;SQL
19730,37.0,United States,2,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
20644,26.0,United States,10,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
20679,34.0,United States,15,1800000.0,Python
20841,37.0,United States,21,2000000.0,C++;Python
20885,23.0,United States,6,1620000.0,Bash/Shell/PowerShell;Go;JavaScript;Python;SQL
21196,40.0,United States,5,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
21604,39.0,Ecuador,20,1080000.0,HTML/CSS;JavaScript;PHP;Python;SQL
22676,30.0,United States,15,1440000.0,C;C++;Java;JavaScript;Ruby
23681,34.0,United States,20,1020000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
24097,27.0,United States,9,2000000.0,Bash/Shell/PowerShell;TypeScript
24385,32.0,United States,15,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
24459,34.0,United States,10,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
24583,NaN,United States,10,1320000.0,Bash/Shell/PowerShell;HTML/CSS;PHP;Python;SQL
24709,42.0,United States,23,1068000.0,C#;HTML/CSS;Java;JavaScript;SQL
24832,28.0,United States,9,2000000.0,Bash/Shell/PowerShell;C;C++;Java;JavaScript;Ko...
24845,28.0,United States,10,2000000.0,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
24848,33.0,United States,10,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Python;VBA
24971,28.0,United States,1,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Type...
25009,26.0,United States,8,2000000.0,C;Go;HTML/CSS;Java;PHP;Python
25066,23.0,United States,8,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Python;SQL;VBA
25132,32.0,United States,20,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL
25138,25.0,United States,9,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
25178,32.0,United States,18,1080000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...
25181,30.0,United States,15,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
25603,52.0,United States,26,2000000.0,Bash/Shell/PowerShell;Java;JavaScript;PHP;SQL
25646,39.0,United States,10,2000000.0,Bash/Shell/PowerShell;SQL;VBA
25687,23.0,United States,10,1680000.0,C#;C++;Python;SQL
25787,40.0,United States,25,2000000.0,C#;HTML/CSS;JavaScript;SQL
25936,23.0,United States,6,2000000.0,C#;C++;HTML/CSS;Java
26051,23.0,United States,8,1080000.0,C;C++;Java;R;Scala
26181,NaN,United States,30,2000000.0,C#;HTML/CSS;JavaScript;SQL;TypeScript
26262,27.0,United States,10,2000000.0,Python
26330,36.0,United States,8,2000000.0,HTML/CSS;JavaScript;Perl;PHP;Python;SQL
26360,29.0,Hong Kong (S.A.R.),17,1095000.0,Bash/Shell/PowerShell;C
27314,36.0,United States,26,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...
27462,31.0,United States,17,1680000.0,Go;HTML/CSS;Java;Kotlin;Python;Ruby;Scala;SQL
27623,40.0,United States,31,2000000.0,Bash/Shell/PowerShell;Dart;HTML/CSS;JavaScript
27921,48.0,United States,29,1860000.0,C;C#;HTML/CSS;JavaScript;Python;SQL
27999,31.0,United States,15,2000000.0,HTML/CSS;Java;JavaScript;TypeScript
28298,30.0,United States,6,2000000.0,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript
28307,40.0,United States,23,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
28418,21.0,United States,7,1260000.0,Assembly;Bash/Shell/PowerShell;HTML/CSS;Java;J...
28954,41.0,Israel,30,1200000.0,Bash/Shell/PowerShell;JavaScript;SQL;TypeScript
29242,34.0,United States,12,2000000.0,Bash/Shell/PowerShell;C;C++;Go;HTML/CSS;Java;J...
29260,51.0,United States,28,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
29266,26.0,United States,4,1260000.0,Java;Ruby
29359,46.0,United States,37,2000000.0,Assembly;Bash/Shell/PowerShell;C;C++;Python;SQL
29403,39.0,United States,27,2000000.0,C#;C++;HTML/CSS;JavaScript;SQL;TypeScript
29557,33.0,United States,16,2000000.0,Java;SQL
29702,42.0,United States,2,1104000.0,HTML/CSS;JavaScript;TypeScript
29824,28.0,United States,18,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript
29842,27.0,United States,11,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
29876,34.0,United States,19,1656000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScript
29936,27.0,United States,5,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
30176,45.0,United States,26,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
30441,30.0,United States,16,2000000.0,HTML/CSS;JavaScript;PHP;Python;Ruby;SQL;TypeSc...
30672,33.0,United States,14,1776000.0,Go;Java;JavaScript;SQL
32316,31.0,United States,9,1860000.0,Dart;HTML/CSS;JavaScript;Objective-C;Ruby;Type...
32340,38.0,United States,23,1404000.0,C;C#;C++
32377,43.0,United States,25,2000000.0,C#;HTML/CSS;JavaScript;SQL;VBA
32406,NaN,United States,7,2000000.0,C#;HTML/CSS;JavaScript;Python;Ruby;SQL
32450,22.0,United States,5,2000000.0,C#;Java;JavaScript;SQL;TypeScript;VBA
32482,44.0,United States,35,1500000.0,C#;HTML/CSS;JavaScript;SQL;VBA
32497,49.0,United States,35,2000000.0,Bash/Shell/PowerShell;Java;JavaScript;SQL
32546,43.0,United States,24,2000000.0,C#;HTML/CSS;JavaScript;SQL
32567,34.0,United States,13,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP
32596,NaN,United States,35,1320000.0,Bash/Shell/PowerShell;C#;Python;R;SQL
32599,25.0,United States,10,2000000.0,Bash/Shell/PowerShell;Python;SQL
32618,37.0,United States,26,1380000.0,C;C#;C++;HTML/CSS;Java;JavaScript;SQL;TypeScri...
32828,38.0,United States,20,1200000.0,C;C++;Go;Java;JavaScript;Scala;SQL;VBA
32935,29.0,United States,3,1500000.0,HTML/CSS;JavaScript;Ruby;SQL
33006,23.0,United States,9,2000000.0,C#;Objective-C;PHP;Python;SQL;Swift
33055,26.0,United States,12,1500000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
33138,27.0,United States,9,2000000.0,Bash/Shell/PowerShell;JavaScript;SQL;TypeScript
33254,38.0,United States,25,2000000.0,C#;HTML/CSS;JavaScript;SQL;VBA
33278,44.0,United States,40,1680000.0,Bash/Shell/PowerShell;Python;Scala
33374,30.0,United States,23,1560000.0,Java;JavaScript;Scala;TypeScript
33380,32.0,United States,27,2000000.0,C#;Python;R
33459,21.0,United States,3,1750000.0,C#;HTML/CSS;Java;JavaScript;Python
33745,25.0,United States,8,2000000.0,C++;HTML/CSS;Java;JavaScript;PHP;SQL
33787,28.0,United States,10,2000000.0,C;Python;SQL
33832,22.0,United States,4,1032000.0,C++;HTML/CSS;JavaScript;Kotlin;PHP;Python;SQL
33846,29.0,United States,18,1680000.0,PHP;Python;SQL
33865,35.0,United States,20,2000000.0,Bash/Shell/PowerShell;Go;Java;JavaScript;Pytho...
33886,24.0,United States,5,2000000.0,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
34516,40.0,United States,27,1272000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
34610,31.0,United States,5,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;SQL;VBA
34732,40.0,United States,32,2000000.0,Bash/Shell/PowerShell;C;C#;Go;HTML/CSS;Java;Ja...
34764,29.0,United States,4,1056000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;SQL;...
34805,NaN,United States,14,2000000.0,C#
35223,51.0,United States,36,1440000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript
35235,28.0,United States,9,2000000.0,HTML/CSS;JavaScript;TypeScript
35242,42.0,United States,23,2000000.0,Java;Perl;Python
35387,NaN,United States,3,1152000.0,Bash/Shell/PowerShell;Go;Python;R;SQL
35635,33.0,United States,15,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
35717,NaN,United States,15,2000000.0,NaN
35767,NaN,United States,20,2000000.0,NaN
35804,NaN,United States,20,1100000.0,NaN
35894,NaN,United States,8,2000000.0,Java;JavaScript;Kotlin;SQL;TypeScript
35916,37.0,United States,20,2000000.0,C#;C++
35995,26.0,United States,6,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
36290,25.0,United States,7,2000000.0,Bash/Shell/PowerShell;C#;Go;Java;TypeScript
36338,NaN,United States,26,2000000.0,NaN
36453,NaN,United States,10,1254000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
36976,NaN,India,15,1600000.0,NaN
37655,NaN,India,13,1800000.0,C#;Dart;Java;Objective-C;Python;SQL;Swift
38791,62.0,United States,46,2000000.0,Bash/Shell/PowerShell;C;Java;Kotlin;Perl;SQL
38939,39.0,United States,25,1776000.0,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript
39539,28.0,United States,15,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP
40174,NaN,United States,18,1290000.0,C#;Java;JavaScript;SQL
40247,42.0,United States,20,2000000.0,Java;Kotlin;R;Swift
40307,NaN,United States,13,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
40458,26.0,United States,8,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
40974,NaN,United States,16,2000000.0,NaN
42643,NaN,United States,32,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
42783,NaN,United States,18,1440000.0,C#;C++;HTML/CSS;JavaScript;SQL;VBA
42919,NaN,United States,13,2000000.0,Go;Java;SQL
42922,34.0,United States,4,1320000.0,Go;HTML/CSS;JavaScript;PHP;SQL;Swift

In [32]:
schema_df

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
5,CompFreq,"Is that compensation weekly, monthly, or yearly?"
6,CompTotal,What is your current total compensation (salar...
7,ConvertedComp,Salary converted to annual USD salaries using ...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
11,DatabaseDesireNextYear,Which database environments have you done exte...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
23,MiscTechDesireNextYear,"Which other frameworks, libraries, and tools h..."
24,MiscTechWorkedWith,"Which other frameworks, libraries, and tools h..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
27,NEWDevOps,Does your company have a dedicated DevOps person?
28,NEWDevOpsImpt,How important is the practice of DevOps to sca...
29,NEWEdImpt,"How important is a formal education, such as a..."
30,NEWJobHunt,"In general, what drives you to look for a new ..."
31,NEWJobHuntResearch,"When job searching, how do you learn more abou..."
32,NEWLearn,How frequently do you learn a new language or ...
33,NEWOffTopic,Do you think Stack Overflow should relax restr...
34,NEWOnboardGood,Do you think your company has a good onboardin...
35,NEWOtherComms,Are you a member of any other online developer...
36,NEWOvertime,How often do you work overtime or beyond the f...
37,NEWPurchaseResearch,"When buying a new tool or software, how do you..."
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
42,OrgSize,Approximately how many people are employed by ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
45,PurchaseWhat,"What level of influence do you, personally, ha..."
46,Sexuality,"Which of the following describe you, if any? P..."
47,SOAccount,Do you have a Stack Overflow account?
48,SOComm,Do you consider yourself a member of the Stack...
49,SOPartFreq,How frequently would you say you participate i...
50,SOVisitFreq,How frequently would you say you visit Stack O...
51,SurveyEase,How easy or difficult was this survey to compl...
52,SurveyLength,How do you feel about the length of the survey...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
55,WebframeDesireNextYear,Which web frameworks have you done extensive d...
56,WebframeWorkedWith,Which web frameworks have you done extensive d...
57,WelcomeChange,"Compared to last year, how welcome do you feel..."
58,WorkWeekHrs,"On average, how many hours per week do you wor..."
59,YearsCode,"Including any education, how many years have y..."
60,YearsCodePro,"NOT including education, how many years have y..."

Filters with strings are mentioned below like name of the conutry or languege developer is using in his profession 

we can combine the above menioned 2 filters and get the developers who uses a specific languege from a specific country.

## filter_1 & filter_2

In [33]:
country = ['India' , 'Nomadic']
filt = df['Country'].isin(country)

In [34]:
df.loc[filt,'Country']

Respondent
7        India
22       India
58       India
63       India
149      India
         ...
54757    India
55407    India
62464    India
62954    India
64236    India
Name: Country, Length: 8434, dtype: object

In [35]:
new_filt = high_salary & filt

In [36]:
df.loc[new_filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
2260,I am a developer by profession,Yes,37.0,10,Monthly,1.100000e+05,1320000.0,Nomadic,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core;React.js,ASP.NET;jQuery;React.js,Just as welcome now as I felt last year,40.0,19,12
36976,"I am not primarily a developer, but I write co...",No,NaN,20,Yearly,1.600000e+06,1600000.0,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,50.0,15,10
37655,I am a developer by profession,No,NaN,15,Monthly,1.500000e+05,1800000.0,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Express,ASP.NET;Express,NaN,40.0,13,10
46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years

In [37]:
langauge_filt = df['LanguageWorkedWith'].str.contains('Python',na = False)

### using more than one filter

    filt = (df['column name']   contionational operator comparision value   value to compare with) and/or ((df['column name']   contionational operator comparision value   value to compare with))
    
    filt = (df["Country"] == 'India') and/or (df["Salary"] > 10000000)
    
    df[filt] for complete dataframe
    
    df.loc[filt,list of Columns we want info from]

In [38]:
salary_laguege = langauge_filt & high_salary

In [39]:
df.loc[salary_laguege , ['Age', 'Country','YearsCode','ConvertedComp','LanguageWorkedWith']]

,Age,Country,YearsCode,ConvertedComp,LanguageWorkedWith
Respondent,,,,,
123,26.0,United States,8,2000000.0,Bash/Shell/PowerShell;C++;Go;Java;Python
125,41.0,United States,11,2000000.0,Python;SQL
665,24.0,United States,4,2000000.0,HTML/CSS;JavaScript;Python;Ruby
818,40.0,United States,25,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;Python;SQL...
1076,48.0,United States,38,1440000.0,Bash/Shell/PowerShell;C#;Dart;JavaScript;Pytho...
1117,35.0,United States,23,2000000.0,Bash/Shell/PowerShell;Java;Kotlin;Python;Ruby;...
1193,30.0,United States,11,2000000.0,Bash/Shell/PowerShell;C;Python
1387,30.0,United States,10,1356000.0,Bash/Shell/PowerShell;Java;Python;R;Scala
1413,25.0,United States,13,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
1629,36.0,United States,17,2000000.0,HTML/CSS;JavaScript;Python;Rust;SQL
1793,27.0,United States,12,2000000.0,Bash/Shell/PowerShell;C++;HTML/CSS;Python;Rust...
2093,55.0,United States,10,2000000.0,C;C++;HTML/CSS;JavaScript;Python
2135,26.0,United States,8,2000000.0,C;HTML/CSS;JavaScript;Python
2348,43.0,United States,12,1380000.0,Bash/Shell/PowerShell;Java;JavaScript;Python;T...
2503,28.0,United States,10,2000000.0,Bash/Shell/PowerShell;C;C#;C++;Python
2522,99.0,United States,40,2000000.0,Assembly;C;C#;C++;Java;Python;Ruby
2569,40.0,United States,20,2000000.0,HTML/CSS;Java;JavaScript;Python;SQL
2578,NaN,United States,30,2000000.0,C#;Go;HTML/CSS;JavaScript;Python;SQL;TypeScript
2683,23.0,United States,6,2000000.0,Python;R;SQL
2957,30.0,United States,5,1020000.0,Assembly;C#;C++;Python;R;SQL
3045,35.0,United States,23,2000000.0,Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...
3072,32.0,United States,10,2000000.0,C#;Python
3222,24.0,United States,8,1788000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Java;J...
3236,31.0,United States,6,2000000.0,C;C#;C++;HTML/CSS;JavaScript;Python
3261,34.0,United States,11,2000000.0,HTML/CSS;Java;JavaScript;Python
3295,24.0,United States,6,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
3442,39.0,United States,23,2000000.0,C;C++;Go;HTML/CSS;Java;JavaScript;Kotlin;Objec...
3570,35.0,United States,10,1860000.0,C;C++;Java;JavaScript;Python;TypeScript
3620,22.0,United States,8,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
3908,30.0,United States,12,1380000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Java;P...
3948,25.0,United States,6,2000000.0,Assembly;C;C#;C++;HTML/CSS;Java;JavaScript;PHP...
3958,32.0,United States,5,1920000.0,C#;Python;Rust;SQL
4027,29.0,United States,10,2000000.0,Go;HTML/CSS;JavaScript;Julia;PHP;Python;R;Ruby...
4129,23.0,United States,7,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
4140,29.0,United States,12,1038000.0,Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScrip...
4538,26.0,United States,3,2000000.0,C;JavaScript;Python;TypeScript
4657,32.0,United States,14,2000000.0,Bash/Shell/PowerShell;Go;Java;JavaScript;Pytho...
4791,22.0,United States,8,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
4810,30.0,United States,8,1272000.0,Java;JavaScript;Kotlin;Python
5031,26.0,United States,10,1140000.0,Bash/Shell/PowerShell;C++;Python
5185,44.0,United States,27,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Perl...
5725,26.0,Canada,10,2000000.0,Bash/Shell/PowerShell;JavaScript;Python
9835,47.0,United States,47,2000000.0,Assembly;Bash/Shell/PowerShell;C++;Dart;Go;Has...
13548,48.0,United States,17,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
14105,41.0,United States,25,2000000.0,HTML/CSS;Java;Python;Rust;Scala
14224,31.0,United States,11,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
14936,32.0,United States,16,1620000.0,Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScrip...
15525,31.0,United States,16,1500000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
15619,29.0,United States,11,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
15694,34.0,United States,21,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
16634,28.0,United States,10,1440000.0,C#;HTML/CSS;JavaScript;Python;R;SQL;VBA
16829,39.0,United States,10,2000000.0,Julia;Python;R;SQL;VBA
17048,35.0,United States,27,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
17350,23.0,United States,3,2000000.0,HTML/CSS;Python;R;SQL;VBA
17689,35.0,United States,22,1020000.0,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
18031,26.0,United States,7,2000000.0,Python
18078,31.0,United States,13,2000000.0,C#;HTML/CSS;JavaScript;Python;SQL
18726,23.0,United States,6,1800000.0,HTML/CSS;Java;JavaScript;Kotlin;Python;Ruby;SQ...
19147,31.0,United States,13,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
19730,37.0,United States,2,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
20644,26.0,United States,10,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
20679,34.0,United States,15,1800000.0,Python
20841,37.0,United States,21,2000000.0,C++;Python
20885,23.0,United States,6,1620000.0,Bash/Shell/PowerShell;Go;JavaScript;Python;SQL
21196,40.0,United States,5,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
21604,39.0,Ecuador,20,1080000.0,HTML/CSS;JavaScript;PHP;Python;SQL
24385,32.0,United States,15,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
24583,NaN,United States,10,1320000.0,Bash/Shell/PowerShell;HTML/CSS;PHP;Python;SQL
24832,28.0,United States,9,2000000.0,Bash/Shell/PowerShell;C;C++;Java;JavaScript;Ko...
24845,28.0,United States,10,2000000.0,C#;HTML/CSS;JavaScript;Python;SQL;TypeScript
24848,33.0,United States,10,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Python;VBA
25009,26.0,United States,8,2000000.0,C;Go;HTML/CSS;Java;PHP;Python
25066,23.0,United States,8,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Python;SQL;VBA
25138,25.0,United States,9,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
25178,32.0,United States,18,1080000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...
25181,30.0,United States,15,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
25687,23.0,United States,10,1680000.0,C#;C++;Python;SQL
26262,27.0,United States,10,2000000.0,Python
26330,36.0,United States,8,2000000.0,HTML/CSS;JavaScript;Perl;PHP;Python;SQL
27314,36.0,United States,26,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;JavaSc...
27462,31.0,United States,17,1680000.0,Go;HTML/CSS;Java;Kotlin;Python;Ruby;Scala;SQL
27921,48.0,United States,29,1860000.0,C;C#;HTML/CSS;JavaScript;Python;SQL
28307,40.0,United States,23,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
28418,21.0,United States,7,1260000.0,Assembly;Bash/Shell/PowerShell;HTML/CSS;Java;J...
29260,51.0,United States,28,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
29359,46.0,United States,37,2000000.0,Assembly;Bash/Shell/PowerShell;C;C++;Python;SQL
29842,27.0,United States,11,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
29936,27.0,United States,5,2000000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Python
30441,30.0,United States,16,2000000.0,HTML/CSS;JavaScript;PHP;Python;Ruby;SQL;TypeSc...
32406,NaN,United States,7,2000000.0,C#;HTML/CSS;JavaScript;Python;Ruby;SQL
32596,NaN,United States,35,1320000.0,Bash/Shell/PowerShell;C#;Python;R;SQL
32599,25.0,United States,10,2000000.0,Bash/Shell/PowerShell;Python;SQL
33006,23.0,United States,9,2000000.0,C#;Objective-C;PHP;Python;SQL;Swift
33055,26.0,United States,12,1500000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
33278,44.0,United States,40,1680000.0,Bash/Shell/PowerShell;Python;Scala
33380,32.0,United States,27,2000000.0,C#;Python;R
33459,21.0,United States,3,1750000.0,C#;HTML/CSS;Java;JavaScript;Python
33787,28.0,United States,10,2000000.0,C;Python;SQL
33832,22.0,United States,4,1032000.0,C++;HTML/CSS;JavaScript;Kotlin;PHP;Python;SQL
33846,29.0,United States,18,1680000.0,PHP;Python;SQL
33865,35.0,United States,20,2000000.0,Bash/Shell/PowerShell;Go;Java;JavaScript;Pytho...
33886,24.0,United States,5,2000000.0,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
34516,40.0,United States,27,1272000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
34732,40.0,United States,32,2000000.0,Bash/Shell/PowerShell;C;C#;Go;HTML/CSS;Java;Ja...
35242,42.0,United States,23,2000000.0,Java;Perl;Python
35387,NaN,United States,3,1152000.0,Bash/Shell/PowerShell;Go;Python;R;SQL
35995,26.0,United States,6,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
36453,NaN,United States,10,1254000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
37655,NaN,India,13,1800000.0,C#;Dart;Java;Objective-C;Python;SQL;Swift
40307,NaN,United States,13,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
40458,26.0,United States,8,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
42643,NaN,United States,32,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
43430,33.0,Italy,13,2000000.0,Assembly;Bash/Shell/PowerShell;C;C++;Perl;Python
43509,28.0,United States,9,1131600.0,Bash/Shell/PowerShell;Python
44211,49.0,United States,36,1800000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Julia;Python...
44313,40.0,United States,15,2000000.0,HTML/CSS;Python
45233,29.0,United States,19,1068000.0,Bash/Shell/PowerShell;Go;Haskell;HTML/CSS;Java...
45342,29.0,United States,10,1440000.0,Assembly;Bash/Shell/PowerShell;C++;Java;JavaSc...
45352,NaN,United States,5,2000000.0,Bash/Shell/PowerShell;C#;JavaScript;Python
45965,25.0,United States,4,1080000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
46562,41.0,United States,Less than 1 year,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
46711,NaN,Nomadic,More than 50 years,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
46863,28.0,United States,9,2000000.0,Bash/Shell/PowerShell;C++;Python
47592,NaN,United States,20,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
47681,32.0,United States,7,1020000.0,C#;HTML/CSS;Java;JavaScript;Python;SQL
47791,25.0,United States,6,2000000.0,C#;HTML/CSS;JavaScript;Python;SQL;VBA
47834,23.0,United States,5,1440000.0,Bash/Shell/PowerShell;C++;HTML/CSS;Java;JavaSc...
48546,47.0,United States,24,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Python;SQL
49442,NaN,United States,30,2000000.0,Assembly;Bash/Shell/PowerShell;C;C++;Go;Haskel...
49636,30.0,United States,8,1800000.0,Bash/Shell/PowerShell;C;JavaScript;Python;SQL;...
49702,26.0,United States,15,2000000.0,Bash/Shell/PowerShell;C;Java;Perl;Python;R;SQL
49816,40.0,United States,4,2000000.0,Bash/Shell/PowerShell;C++;Go;HTML/CSS;JavaScri...
49839,23.0,United States,6,2000000.0,HTML/CSS;Java;JavaScript;Python;SQL;TypeScript
50191,27.0,United States,2,2000000.0,Assembly;Bash/Shell/PowerShell;Julia;Python;SQL
50882,NaN,United States,7,2000000.0,Python;R;SQL
51126,25.0,United States,8,1260000.0,Bash/Shell/PowerShell;Java;JavaScript;Python;S...
51392,29.0,United States,7,1920000.0,Bash/Shell/PowerShell;HTML/CSS;PHP;Python
51750,30.0,United States,7,1140000.0,Bash/Shell/PowerShell;C;C++;Python;SQL
51994,58.0,United States,43,1980000.0,HTML/CSS;JavaScript;Python
52006,28.0,United States,11,2000000.0,Bash/Shell/PowerShell;Java;JavaScript;Python;S...
52020,26.0,United States,9,2000000.0,C;C#;C++;HTML/CSS;Java;JavaScript;Kotlin;Pytho...
52043,27.0,United States,11,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
52377,38.0,United States,7,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
52414,26.0,United States,8,2000000.0,Bash/Shell/PowerShell;Go;Java;Python;Rust;Scala
53238,28.0,United States,16,2000000.0,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
53443,20.0,United States,1,2000000.0,C#;HTML/CSS;Java;JavaScript;Kotlin;Python
53523,NaN,United States,5,2000000.0,Bash/Shell/PowerShell;C;HTML/CSS;Java;JavaScri...
53571,35.0,United States,21,2000000.0,C#;HTML/CSS;JavaScript;Python
53595,38.0,United States,28,1500000.0,Bash/Shell/PowerShell;C#;C++;Go;HTML/CSS;Java;...
53597,23.0,United States,8,1740000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;Go;Pyt...
53620,33.0,United States,6,1320000.0,HTML/CSS;JavaScript;PHP;Python;R
53629,60.0,United States,39,2000000.0,Bash/Shell/PowerShell;C;C#;C++;JavaScript;Python
53716,35.0,United States,17,2000000.0,Bash/Shell/PowerShell;JavaScript;Python;Swift
53768,39.0,United States,10,2000000.0,Bash/Shell/PowerShell;PHP;Python;SQL;TypeScript
53854,49.0,United States,25,2000000.0,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
53919,27.0,United States,10,1250000.0,Go;HTML/CSS;Java;JavaScript;Python
54263,29.0,Canada,14,2000000.0,Dart;Java;JavaScript;Kotlin;Python;TypeScript
54542,26.0,United States,13,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
57311,37.0,United States,24,1800000.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
57606,23.0,United States,6,2000000.0,Java;Python;Scala;SQL
57713,35.0,United States,4,1440000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
58040,48.0,United States,37,2000000.0,Bash/Shell/PowerShell;C;C#;HTML/CSS;Java;JavaS...
58080,24.0,United States,3,2000000.0,Bash/Shell/PowerShell;C#;Go;HTML/CSS;JavaScrip...
59279,NaN,Nepal,20,2000000.0,Assembly;Bash/Shell/PowerShell;C;C#;C++;HTML/C...
59321,43.0,United States,25,2000000.0,Dart;HTML/CSS;JavaScript;PHP;Python
59480,24.0,United States,3,1836000.0,JavaScript;Kotlin;Objective-C;Python;Swift;Typ...
59974,24.0,United States,1,2000000.0,Python;R;SQL
60024,30.0,United States,15,2000000.0,C#;Go;HTML/CSS;Java;JavaScript;Kotlin;Python;SQL
60188,24.0,United States,7,2000000.0,HTML/CSS;JavaScript;Python;R;SQL
60300,29.0,United States,16,2000000.0,C#;HTML/CSS;Java;JavaScript;Python;Ruby
60517,27.0,United States,7,1022400.0,HTML/CSS;Java;JavaScript;Python;SQL;TypeScript
60556,30.0,United States,17,2000000.0,Bash/Shell/PowerShell;C++;HTML/CSS;Java;JavaSc...
61117,28.0,United States,15,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
61509,23.0,United States,5,1440000.0,HTML/CSS;Java;JavaScript;Python;TypeScript
61693,26.0,United States,7,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...
61963,34.0,United States,18,1344000.0,Bash/Shell/PowerShell;Python
62455,30.0,United States,21,2000000.0,C++;Dart;Go;Haskell;HTML/CSS;Java;JavaScript;P...
62592,NaN,United States,33,1560000.0,Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...
62616,30.0,United States,11,1560000.0,C;C++;Python;Rust;SQL
65341,NaN,United States,17,2000000.0,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
65502,NaN,United States,5,2000000.0,C#;HTML/CSS;JavaScript;Perl;Python;SQL;TypeScript
65527,NaN,United States,14,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...





## Negation of the filters

    filt = (df['column name']   contionational operator comparision value   value to compare with) and/or ((df['column name']   contionational operator comparision value   value to compare with))
    
    filt = (df["Country"] == 'India') and/or (df["Salary"] > 10000000)
    
    df[~filt] for complete dataframe
    
    df.loc[~filt,list of Columns we want info from]
    
### adding the tilda operator in front of the filter will give all the values other than the output of filter

In [40]:
df.loc[~salary_laguege , ['Age', 'Country','YearsCode','ConvertedComp','LanguageWorkedWith']]

,Age,Country,YearsCode,ConvertedComp,LanguageWorkedWith
Respondent,,,,,
1,NaN,Germany,36,NaN,C#;HTML/CSS;JavaScript
2,NaN,United Kingdom,7,NaN,JavaScript;Swift
3,NaN,Russian Federation,4,NaN,Objective-C;Python;Swift
4,25.0,Albania,7,NaN,NaN
5,31.0,United States,15,NaN,HTML/CSS;Ruby;SQL
...,...,...,...,...,...
64858,NaN,United States,10,NaN,NaN
64867,NaN,Morocco,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64898,NaN,Viet Nam,NaN,NaN,NaN
64925,NaN,Poland,NaN,NaN,HTML/CSS
65112,NaN,Spain,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL

# Update data in rows and cols

In [41]:
people_df.columns = [x.upper() for x in people_df.columns]

In [42]:
people_df.columns = ['NAME_PERSON', 'SURNAME_PERSON', 'EMAIL_PERSON','BIRTHPLACE_PERSON'  ]

In [43]:
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani            Jog  shivani@thinkxl             Pune

In [44]:
people_df.columns = people_df.columns.str.replace('_' ,' ')

In [45]:
people_df

  NAME PERSON SURNAME PERSON     EMAIL PERSON BIRTHPLACE PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani            Jog  shivani@thinkxl             Pune

In [46]:
people_df.columns = people_df.columns.str.replace(' ' ,'_')

In [47]:
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani            Jog  shivani@thinkxl             Pune

## df.rename

    df.rename(columns = {key : value})
    
    dictionary should contain key as current column name we have and value as the name we want that column to have this method also has the inpalce argument so if we want change to be perment then we can have inplace = True

In [48]:
people_df.loc[2,'SURNAME_PERSON'] = 'Kulkarni'

In [49]:
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani       Kulkarni  shivani@thinkxl             Pune

In [50]:
people_df.loc[2,['SURNAME_PERSON','EMAIL_PERSON','BIRTHPLACE_PERSON']] = ['Jog','jog@thinkxl','Nashik']

In [51]:
people_df

  NAME_PERSON SURNAME_PERSON    EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni  pranav@thinkxl            Nashik
1      Pratik       Kulkarni  pratik@thinkxl            Omerga
2     Shivani            Jog     jog@thinkxl            Nashik

people_df.at[row_name , col_name] can also be used

In [52]:
# using filter to get values to be changed does not work

filt = (people_df['EMAIL_PERSON']=='jog@thinkxl')
people_df[filt]['SURNAME_PERSON']

2    Jog
Name: SURNAME_PERSON, dtype: object

In [53]:
people_df[filt]['EMAIL_PERSON'] = 'shivani@thinkxl'

/home/pranav/imapala/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
people_df #change did not happen

  NAME_PERSON SURNAME_PERSON    EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni  pranav@thinkxl            Nashik
1      Pratik       Kulkarni  pratik@thinkxl            Omerga
2     Shivani            Jog     jog@thinkxl            Nashik

In [55]:
people_df.loc[filt,'EMAIL_PERSON']= 'shivani@thinkxl'

In [56]:
people_df #it works with loc or iloc

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani            Jog  shivani@thinkxl            Nashik

In [57]:
people_df['EMAIL_PERSON'] = people_df['EMAIL_PERSON'].str.upper()

In [58]:
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   PRANAV@THINKXL            Nashik
1      Pratik       Kulkarni   PRATIK@THINKXL            Omerga
2     Shivani            Jog  SHIVANI@THINKXL            Nashik

# Updating data  multiple rows at once

## apply - used for calling a function on our values it can either work on data frame or  a series object behaviour is a bit different in both cases.

    
## map 
## applymap - Only works for dataframes Series objects don't have applymap
## replace

## Apply
### On series 
    
    df['column name'].apply(function you want to apply)
    
    eg.
    1.(to check the length of our email ids)
    
    people_df['EMAIL_PERSON'].apply(len)
    2.to make ids lower case
    
    def update_email(email):
        return email.lower()
    people_df['EMAIL_PERSON'].apply(update_email)
    
    #don't put "()" we dont want execute it here just pass it as a function.
    
### On dataframe

    df.apply(function)
    
    here the function will get applied to Series in the dataframes that is either a row or a columns depending on the choice of the axis. default axis is row so all functions get applied to columns since axis of the columns is rows and vice versa for rows

In [59]:
def update_email(email):
        return email.lower()
people_df['EMAIL_PERSON'] = people_df['EMAIL_PERSON'].apply(update_email)
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   pranav@thinkxl            Nashik
1      Pratik       Kulkarni   pratik@thinkxl            Omerga
2     Shivani            Jog  shivani@thinkxl            Nashik

In [60]:
people_df['EMAIL_PERSON'] = people_df['EMAIL_PERSON'].apply(lambda x: x.upper())
people_df

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      Pranav       Kulkarni   PRANAV@THINKXL            Nashik
1      Pratik       Kulkarni   PRATIK@THINKXL            Omerga
2     Shivani            Jog  SHIVANI@THINKXL            Nashik

##  In example below It will apply to ONLY columns(axis = rows) NOT all values. Note axis of traversing columns is rows and default axis is rows

In [61]:
people_df.apply(len)

NAME_PERSON          3
SURNAME_PERSON       3
EMAIL_PERSON         3
BIRTHPLACE_PERSON    3
dtype: int64

In [62]:
people_df.apply(len,axis = 'columns') # it will apply to ONLY rows NOT all values

0    4
1    4
2    4
dtype: int64

In [63]:
people_df.apply(pd.Series.min) # applied on columns

NAME_PERSON                  Pranav
SURNAME_PERSON                  Jog
EMAIL_PERSON         PRANAV@THINKXL
BIRTHPLACE_PERSON            Nashik
dtype: object

In [64]:
people_df.apply(lambda x : x.min())

NAME_PERSON                  Pranav
SURNAME_PERSON                  Jog
EMAIL_PERSON         PRANAV@THINKXL
BIRTHPLACE_PERSON            Nashik
dtype: object

## Apply map

Works for DataFrames only
    df.applymap(function you want to apply to each element)

In [65]:
people_df.applymap(len)

   NAME_PERSON  SURNAME_PERSON  EMAIL_PERSON  BIRTHPLACE_PERSON
0            6               8            14                  6
1            6               8            14                  6
2            7               3            15                  6

In [66]:
people_df.applymap(str.lower)

  NAME_PERSON SURNAME_PERSON     EMAIL_PERSON BIRTHPLACE_PERSON
0      pranav       kulkarni   pranav@thinkxl            nashik
1      pratik       kulkarni   pratik@thinkxl            omerga
2     shivani            jog  shivani@thinkxl            nashik

## Map

Works only for Series objects you cannot use it for the dataframe directly.if you want to make the changes permnent then use df[col] = df[col].map({}) 
eg.

    df[column name].map({'values you want to change' : 'the changed values to apper'})
    
    df['NAME_PERSON'].map({'Pranav':'Sunil','Pratik':'Madhuri'})
    
### it will introduce nan values in the Series for which you have not mentioned the change so keep it in mind

In [67]:
people_df['NAME_PERSON'].map({'Pranav':'Sunil','Pratik':'Madhuri'})

0      Sunil
1    Madhuri
2        NaN
Name: NAME_PERSON, dtype: object

## Replace

Works same as map does not introduce the nan values just finds and replaces what we have mentioned in the dictionary
if you want to make the changes permnent then use df[col] = df[col].map({})

In [68]:
people_df['NAME_PERSON'].replace({'Pranav':'Sunil','Pratik':'Madhuri'})

0      Sunil
1    Madhuri
2    Shivani
Name: NAME_PERSON, dtype: object

In [69]:
df.rename(columns = {'ConvertedComp':'Salary_USD'} , inplace = True)

# Use inpalce = True only after the confirmation that the 
# changes you wanted
# have taken place correctly

In [70]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'Salary_USD', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [71]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [72]:
# Use map to make yes to True and No to False

df['Hobbyist'].map({'Yes' : True , 'No' : False})

Respondent
1         True
2        False
3         True
4         True
5         True
         ...
64858     True
64867     True
64898     True
64925     True
65112     True
Name: Hobbyist, Length: 64461, dtype: object

# Add/Remove rows and columns From df


## ADD columns
    df['New column'] = df['column_1'] + ' ' + df['column_2']
    df['New column'] = list of values
    
    
## REMOVE columns
    df.drop(column name)
    
## ROWS
    df.append()

In [73]:
people_df['FULL_NAME'] = people_df['NAME_PERSON'] +' '+ people_df['SURNAME_PERSON']

In [74]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog

In [75]:
people_df['AGE'] = [25,29,29]

In [76]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29

In [77]:
people_df.drop(columns = ['EMAIL_PERSON']) # ALSO HAS INPLACE

  NAME_PERSON SURNAME_PERSON BIRTHPLACE_PERSON        FULL_NAME  AGE
0      Pranav       Kulkarni            Nashik  Pranav Kulkarni   25
1      Pratik       Kulkarni            Omerga  Pratik Kulkarni   29
2     Shivani            Jog            Nashik      Shivani Jog   29

In [83]:
people_df['FULL_NAME'].str.split(' ',expand=True)

# people_df['col_1','col_1'] = people_df['FULL_NAME'].str.split(' ',expand=True)

         0         1
0   Pranav  Kulkarni
1   Pratik  Kulkarni
2  Shivani       Jog

In [84]:
# Uncomment this to see a error if we don't use ignor_index
#people_df.append({'NAME_PERSON':'Purva'})

TypeError: Can only append a dict if ignore_index=True

In [89]:
people_df.append({'NAME_PERSON':'Purva'}, ignore_index = True)

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25.0
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29.0
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29.0
3,Purva,NaN,NaN,NaN,NaN,NaN

In [90]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29

In [92]:
people = {
    "NAME_PERSON" : ["Sunil" , "Madhuri"],
    
    "SURNAME_PERSON" : ["Kulkarni" , "Kulkarni"],
    
    "Birthplace" : ["Kopargao" , "Omerga" ],
    
    "AGE" : ["60","52"],
}

In [93]:
df2 = pd.DataFrame(people)

In [96]:
people_df = people_df.append(df2,ignore_index = True) # does not have inplace

In [97]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

In [98]:
people_df.drop(index =4) # has inplace

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao

In [104]:
people_df.drop(index = people_df[people_df['SURNAME_PERSON'] != 'Kulkarni'].index)


#this is using the filtering we can define the filter outside as well

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

# Sorting data 

### it has "inplace argument"

In [105]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

In [107]:
people_df.sort_values(by = 'NAME_PERSON' , ascending = False)

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

## if in one column 2 values are same then we can pass list of the columns according to the preferences we want

In [109]:
people_df.sort_values(by = ['NAME_PERSON','AGE'] , ascending = False)

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

## we can also send list of booleans to the ascending parameter that list will correspond to the list of columns and we can use ascending/descending as required

In [112]:
people_df.sort_values(by = ['NAME_PERSON','AGE'] , ascending = [False ,True] , inplace = True)

In [113]:
people_df

,NAME_PERSON,SURNAME_PERSON,EMAIL_PERSON,BIRTHPLACE_PERSON,FULL_NAME,AGE,Birthplace
3,Sunil,Kulkarni,NaN,NaN,NaN,60,Kopargao
2,Shivani,Jog,SHIVANI@THINKXL,Nashik,Shivani Jog,29,NaN
1,Pratik,Kulkarni,PRATIK@THINKXL,Omerga,Pratik Kulkarni,29,NaN
0,Pranav,Kulkarni,PRANAV@THINKXL,Nashik,Pranav Kulkarni,25,NaN
4,Madhuri,Kulkarni,NaN,NaN,NaN,52,Omerga

## Sort index

In [116]:
people_df.sort_index(inplace = True)

### For sorting a single column data df['column name'].sort_values() can also be used

In [118]:
df.sort_values(by = 'Country',inplace =True)

In [121]:
df['Country'].head(200)

Respondent
8631     Afghanistan
25001    Afghanistan
58171    Afghanistan
42668    Afghanistan
51509    Afghanistan
37951    Afghanistan
28374    Afghanistan
7616     Afghanistan
43966    Afghanistan
62698    Afghanistan
51532    Afghanistan
36574    Afghanistan
43946    Afghanistan
65381    Afghanistan
38672    Afghanistan
35753    Afghanistan
43808    Afghanistan
37159    Afghanistan
44555    Afghanistan
35687    Afghanistan
37605    Afghanistan
44556    Afghanistan
23798    Afghanistan
42188    Afghanistan
65456    Afghanistan
44697    Afghanistan
60507    Afghanistan
898      Afghanistan
51900    Afghanistan
35179    Afghanistan
2932     Afghanistan
55019    Afghanistan
15422    Afghanistan
46844    Afghanistan
45481    Afghanistan
51862    Afghanistan
63848    Afghanistan
35656    Afghanistan
33878    Afghanistan
26575    Afghanistan
37601    Afghanistan
9839     Afghanistan
57269    Afghanistan
29893    Afghanistan
45409    Afghanistan
51683    Afghanistan
30608    Afghanistan
26775    Afghanistan
39217    Afghanistan
30568    Afghanistan
26540    Afghanistan
39582    Afghanistan
8856     Afghanistan
28811    Afghanistan
55232    Afghanistan
37698    Afghanistan
9617     Afghanistan
26623    Afghanistan
7710     Afghanistan
30522    Afghanistan
5972     Afghanistan
26594    Afghanistan
18049    Afghanistan
36423    Afghanistan
40349    Afghanistan
31317    Afghanistan
24215    Afghanistan
35295    Afghanistan
62950    Afghanistan
9486     Afghanistan
11353    Afghanistan
63532    Afghanistan
57632    Afghanistan
45973    Afghanistan
63499    Afghanistan
26857    Afghanistan
52876    Afghanistan
44484    Afghanistan
62788    Afghanistan
34969    Afghanistan
43183    Afghanistan
10350    Afghanistan
63514    Afghanistan
43476    Afghanistan
43394        Albania
61050        Albania
45858        Albania
44558        Albania
9277         Albania
10647        Albania
63494        Albania
43513        Albania
28311        Albania
20626        Albania
22143        Albania
17708        Albania
9420         Albania
21952        Albania
28900        Albania
44370        Albania
16043        Albania
13666        Albania
37526        Albania
39010        Albania
12719        Albania
65420        Albania
564          Albania
44673        Albania
51520        Albania
45079        Albania
61158        Albania
23182        Albania
23201        Albania
23552        Albania
43318        Albania
48972        Albania
39184        Albania
43200        Albania
23498        Albania
58427        Albania
26843        Albania
39267        Albania
45599        Albania
19666        Albania
23342        Albania
56742        Albania
51618        Albania
4            Albania
64557        Albania
13065        Albania
23031        Albania
47357        Albania
35660        Albania
27550        Albania
17228        Albania
27714        Albania
58543        Albania
31376        Albania
51419        Algeria
25968        Algeria
60583        Algeria
27894        Algeria
18117        Algeria
55914        Algeria
43944        Algeria
2010         Algeria
44058        Algeria
34494        Algeria
27846        Algeria
28504        Algeria
43093        Algeria
56062        Algeria
4515         Algeria
33690        Algeria
26835        Algeria
61592        Algeria
25552        Algeria
13996        Algeria
51608        Algeria
40649        Algeria
59608        Algeria
49279        Algeria
42599        Algeria
39014        Algeria
38726        Algeria
26749        Algeria
38725        Algeria
18701        Algeria
27523        Algeria
44010        Algeria
39170        Algeria
783          Algeria
58621        Algeria
58264        Algeria
11733        Algeria
65111        Algeria
28265        Algeria
60640        Algeria
57211        Algeria
65535        Algeria
60636        Algeria
26108        Algeria
26141        Algeria
56534        Algeria
64640        Algeria
46745        Algeria
11280        Algeria
34038        Algeria
60658        Algeria
51486        Algeria
11832        Algeria
45065        Algeria
52018        Algeria
14947        Algeria
64646        Algeria
32168        Algeria
27041        Algeria
64444        Algeria
62676        Algeria
40221        Algeria
Name: Country, dtype: object

In [122]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'Salary_USD', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [123]:
df[['Country','Salary_USD']].head(200)

                Country  Salary_USD
Respondent
8631        Afghanistan         NaN
25001       Afghanistan         NaN
58171       Afghanistan         NaN
42668       Afghanistan         NaN
51509       Afghanistan     20220.0
37951       Afghanistan         NaN
28374       Afghanistan    130000.0
7616        Afghanistan         NaN
43966       Afghanistan         NaN
62698       Afghanistan         NaN
51532       Afghanistan         NaN
36574       Afghanistan         NaN
43946       Afghanistan         NaN
65381       Afghanistan   1000000.0
38672       Afghanistan    231192.0
35753       Afghanistan       780.0
43808       Afghanistan         NaN
37159       Afghanistan         NaN
44555       Afghanistan         NaN
35687       Afghanistan         NaN
37605       Afghanistan         NaN
44556       Afghanistan         NaN
23798       Afghanistan         NaN
42188       Afghanistan         NaN
65456       Afghanistan   1000000.0
44697       Afghanistan         NaN
60507       Afghanistan         NaN
898         Afghanistan         NaN
51900       Afghanistan         NaN
35179       Afghanistan         NaN
2932        Afghanistan     16335.0
55019       Afghanistan         NaN
15422       Afghanistan     18000.0
46844       Afghanistan         NaN
45481       Afghanistan         NaN
51862       Afghanistan     20950.0
63848       Afghanistan     23328.0
35656       Afghanistan         NaN
33878       Afghanistan      1860.0
26575       Afghanistan         NaN
37601       Afghanistan         NaN
9839        Afghanistan     23328.0
57269       Afghanistan     10884.0
29893       Afghanistan         NaN
45409       Afghanistan         NaN
51683       Afghanistan         NaN
30608       Afghanistan         NaN
26775       Afghanistan      8016.0
39217       Afghanistan         NaN
30568       Afghanistan      5448.0
26540       Afghanistan     13992.0
39582       Afghanistan         NaN
8856        Afghanistan         NaN
28811       Afghanistan      4509.0
55232       Afghanistan         NaN
37698       Afghanistan         NaN
9617        Afghanistan         NaN
26623       Afghanistan         NaN
7710        Afghanistan         NaN
30522       Afghanistan      4668.0
5972        Afghanistan         NaN
26594       Afghanistan         NaN
18049       Afghanistan       109.0
36423       Afghanistan         NaN
40349       Afghanistan         NaN
31317       Afghanistan         NaN
24215       Afghanistan         NaN
35295       Afghanistan         0.0
62950       Afghanistan         NaN
9486        Afghanistan         NaN
11353       Afghanistan         NaN
63532       Afghanistan         NaN
57632       Afghanistan         NaN
45973       Afghanistan         NaN
63499       Afghanistan         NaN
26857       Afghanistan      2328.0
52876       Afghanistan         NaN
44484       Afghanistan     18660.0
62788       Afghanistan   1000000.0
34969       Afghanistan      4356.0
43183       Afghanistan         NaN
10350       Afghanistan         NaN
63514       Afghanistan         NaN
43476       Afghanistan         NaN
43394           Albania         NaN
61050           Albania     16860.0
45858           Albania         NaN
44558           Albania         NaN
9277            Albania         NaN
10647           Albania     25944.0
63494           Albania         NaN
43513           Albania         NaN
28311           Albania      4344.0
20626           Albania         NaN
22143           Albania      5832.0
17708           Albania         NaN
9420            Albania         NaN
21952           Albania     15900.0
28900           Albania     15900.0
44370           Albania         NaN
16043           Albania         NaN
13666           Albania         NaN
37526           Albania     12972.0
39010           Albania         NaN
12719           Albania         NaN
65420           Albania         NaN
564             Albania     10812.0
44673           Albania         NaN
51520           Albania     15900.0
45079           Albania     31788.0
61158           Albania         NaN
23182           Albania         NaN
23201           Albania         NaN
23552           Albania         NaN
43318           Albania         NaN
48972           Albania         NaN
39184           Albania         NaN
43200           Albania         NaN
23498           Albania     13776.0
58427           Albania     21192.0
26843           Albania     25944.0
39267           Albania         NaN
45599           Albania         NaN
19666           Albania     32652.0
23342           Albania    194580.0
56742           Albania         NaN
51618           Albania         NaN
4               Albania         NaN
64557           Albania         NaN
13065           Albania     31788.0
23031           Albania      2124.0
47357           Albania         0.0
35660           Albania         NaN
27550           Albania         NaN
17228           Albania     23316.0
27714           Albania     10596.0
58543           Albania         NaN
31376           Albania         NaN
51419           Algeria         NaN
25968           Algeria         NaN
60583           Algeria         NaN
27894           Algeria         NaN
18117           Algeria         NaN
55914           Algeria      9924.0
43944           Algeria       300.0
2010            Algeria         NaN
44058           Algeria         NaN
34494           Algeria         NaN
27846           Algeria         NaN
28504           Algeria         NaN
43093           Algeria         NaN
56062           Algeria         NaN
4515            Algeria         NaN
33690           Algeria     20700.0
26835           Algeria         NaN
61592           Algeria         NaN
25552           Algeria         NaN
13996           Algeria         NaN
51608           Algeria         NaN
40649           Algeria         NaN
59608           Algeria      5952.0
49279           Algeria     14892.0
42599           Algeria         NaN
39014           Algeria         NaN
38726           Algeria         NaN
26749           Algeria         NaN
38725           Algeria         NaN
18701           Algeria         NaN
27523           Algeria         NaN
44010           Algeria         NaN
39170           Algeria         NaN
783             Algeria         NaN
58621           Algeria      7944.0
58264           Algeria         NaN
11733           Algeria         NaN
65111           Algeria         NaN
28265           Algeria         NaN
60640           Algeria         NaN
57211           Algeria         NaN
65535           Algeria         NaN
60636           Algeria         NaN
26108           Algeria         NaN
26141           Algeria         NaN
56534           Algeria         NaN
64640           Algeria         NaN
46745           Algeria         NaN
11280           Algeria     14400.0
34038           Algeria      3480.0
60658           Algeria         NaN
51486           Algeria         NaN
11832           Algeria         NaN
45065           Algeria         NaN
52018           Algeria         NaN
14947           Algeria      8940.0
64646           Algeria         NaN
32168           Algeria         NaN
27041           Algeria         NaN
64444           Algeria         NaN
62676           Algeria       993.0
40221           Algeria         NaN

In [124]:
df.sort_values(by = ['Country','Salary_USD'],ascending = [True,False],inplace =True)

In [125]:
df[['Country','Salary_USD']].head(200)

                Country  Salary_USD
Respondent
65381       Afghanistan   1000000.0
65456       Afghanistan   1000000.0
62788       Afghanistan   1000000.0
38672       Afghanistan    231192.0
28374       Afghanistan    130000.0
63848       Afghanistan     23328.0
9839        Afghanistan     23328.0
51862       Afghanistan     20950.0
51509       Afghanistan     20220.0
44484       Afghanistan     18660.0
15422       Afghanistan     18000.0
2932        Afghanistan     16335.0
26540       Afghanistan     13992.0
57269       Afghanistan     10884.0
26775       Afghanistan      8016.0
30568       Afghanistan      5448.0
30522       Afghanistan      4668.0
28811       Afghanistan      4509.0
34969       Afghanistan      4356.0
26857       Afghanistan      2328.0
33878       Afghanistan      1860.0
35753       Afghanistan       780.0
18049       Afghanistan       109.0
35295       Afghanistan         0.0
8631        Afghanistan         NaN
25001       Afghanistan         NaN
58171       Afghanistan         NaN
42668       Afghanistan         NaN
37951       Afghanistan         NaN
7616        Afghanistan         NaN
43966       Afghanistan         NaN
62698       Afghanistan         NaN
51532       Afghanistan         NaN
36574       Afghanistan         NaN
43946       Afghanistan         NaN
43808       Afghanistan         NaN
37159       Afghanistan         NaN
44555       Afghanistan         NaN
35687       Afghanistan         NaN
37605       Afghanistan         NaN
44556       Afghanistan         NaN
23798       Afghanistan         NaN
42188       Afghanistan         NaN
44697       Afghanistan         NaN
60507       Afghanistan         NaN
898         Afghanistan         NaN
51900       Afghanistan         NaN
35179       Afghanistan         NaN
55019       Afghanistan         NaN
46844       Afghanistan         NaN
45481       Afghanistan         NaN
35656       Afghanistan         NaN
26575       Afghanistan         NaN
37601       Afghanistan         NaN
29893       Afghanistan         NaN
45409       Afghanistan         NaN
51683       Afghanistan         NaN
30608       Afghanistan         NaN
39217       Afghanistan         NaN
39582       Afghanistan         NaN
8856        Afghanistan         NaN
55232       Afghanistan         NaN
37698       Afghanistan         NaN
9617        Afghanistan         NaN
26623       Afghanistan         NaN
7710        Afghanistan         NaN
5972        Afghanistan         NaN
26594       Afghanistan         NaN
36423       Afghanistan         NaN
40349       Afghanistan         NaN
31317       Afghanistan         NaN
24215       Afghanistan         NaN
62950       Afghanistan         NaN
9486        Afghanistan         NaN
11353       Afghanistan         NaN
63532       Afghanistan         NaN
57632       Afghanistan         NaN
45973       Afghanistan         NaN
63499       Afghanistan         NaN
52876       Afghanistan         NaN
43183       Afghanistan         NaN
10350       Afghanistan         NaN
63514       Afghanistan         NaN
43476       Afghanistan         NaN
23342           Albania    194580.0
19666           Albania     32652.0
45079           Albania     31788.0
13065           Albania     31788.0
10647           Albania     25944.0
26843           Albania     25944.0
17228           Albania     23316.0
58427           Albania     21192.0
61050           Albania     16860.0
21952           Albania     15900.0
28900           Albania     15900.0
51520           Albania     15900.0
23498           Albania     13776.0
37526           Albania     12972.0
564             Albania     10812.0
27714           Albania     10596.0
22143           Albania      5832.0
28311           Albania      4344.0
23031           Albania      2124.0
47357           Albania         0.0
43394           Albania         NaN
45858           Albania         NaN
44558           Albania         NaN
9277            Albania         NaN
63494           Albania         NaN
43513           Albania         NaN
20626           Albania         NaN
17708           Albania         NaN
9420            Albania         NaN
44370           Albania         NaN
16043           Albania         NaN
13666           Albania         NaN
39010           Albania         NaN
12719           Albania         NaN
65420           Albania         NaN
44673           Albania         NaN
61158           Albania         NaN
23182           Albania         NaN
23201           Albania         NaN
23552           Albania         NaN
43318           Albania         NaN
48972           Albania         NaN
39184           Albania         NaN
43200           Albania         NaN
39267           Albania         NaN
45599           Albania         NaN
56742           Albania         NaN
51618           Albania         NaN
4               Albania         NaN
64557           Albania         NaN
35660           Albania         NaN
27550           Albania         NaN
58543           Albania         NaN
31376           Albania         NaN
25463           Algeria     36000.0
33690           Algeria     20700.0
49279           Algeria     14892.0
11280           Algeria     14400.0
10098           Algeria     12912.0
29109           Algeria     11916.0
15369           Algeria     10000.0
55914           Algeria      9924.0
14947           Algeria      8940.0
58621           Algeria      7944.0
59608           Algeria      5952.0
64212           Algeria      3972.0
34038           Algeria      3480.0
12104           Algeria      3480.0
62676           Algeria       993.0
43944           Algeria       300.0
51419           Algeria         NaN
25968           Algeria         NaN
60583           Algeria         NaN
27894           Algeria         NaN
18117           Algeria         NaN
2010            Algeria         NaN
44058           Algeria         NaN
34494           Algeria         NaN
27846           Algeria         NaN
28504           Algeria         NaN
43093           Algeria         NaN
56062           Algeria         NaN
4515            Algeria         NaN
26835           Algeria         NaN
61592           Algeria         NaN
25552           Algeria         NaN
13996           Algeria         NaN
51608           Algeria         NaN
40649           Algeria         NaN
42599           Algeria         NaN
39014           Algeria         NaN
38726           Algeria         NaN
26749           Algeria         NaN
38725           Algeria         NaN
18701           Algeria         NaN
27523           Algeria         NaN
44010           Algeria         NaN
39170           Algeria         NaN
783             Algeria         NaN
58264           Algeria         NaN
11733           Algeria         NaN
65111           Algeria         NaN
28265           Algeria         NaN
60640           Algeria         NaN
57211           Algeria         NaN
65535           Algeria         NaN
60636           Algeria         NaN
26108           Algeria         NaN
26141           Algeria         NaN
56534           Algeria         NaN
64640           Algeria         NaN
46745           Algeria         NaN
60658           Algeria         NaN
51486           Algeria         NaN
11832           Algeria         NaN
45065           Algeria         NaN

## largest/smallest from df

In [126]:
df['Salary_USD'].nlargest(10)

Respondent
54263    2000000.0
5725     2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
1793     2000000.0
3072     2000000.0
3045     2000000.0
1413     2000000.0
3261     2000000.0
Name: Salary_USD, dtype: float64

In [128]:
df.nlargest(10,'Salary_USD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary_USD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
54263,I am a developer by profession,Yes,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
5725,I am a developer by profession,No,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
1793,I am a developer by profession,Yes,27.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
3072,I am a developer by profession,Yes,32.0,22,Weekly,1.020000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
3045,I am a developer by profession,Yes,35.0,12,Weekly,1.000000e+05,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
1413,I am a developer by profession,Yes,25.0,12,Weekly,4.100000e+04,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery,Just as welcome now as I felt last year,37.0,13,3
3261,I am a developer by profession,Yes,34.0,23,Weekly,1.150000e+05,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Spring,Spring,Just as welcome now as I felt last year,60.0,11,9

In [129]:
df.nsmallest(10,'Salary_USD')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Salary_USD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,Yes,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,Yes,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,...,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
27135,I am a developer by profession,No,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
6054,I am a developer by profession,Yes,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
60292,I am a developer by profession,Yes,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,No,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,Yes,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,Yes,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
15493,I am a developer by profession,No,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4
57369,I am a developer by profession,No,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5